.about-me{
    .img-fluid{
        max-height: 30rem;
    }
    .experience-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin-top: 2rem;
        .card{
            background: transparent;
            border: 2px solid $colorPrimary;
            color: $colorPrimary;
            min-height: 10rem;
            align-items: center;
            justify-content: center;
            svg {
                font-size: 3rem;
            }
        }
    }
}