.about{
    &__container{
        display: grid;
        grid-template-columns: 35% 50%;
        gap: 15%;
        @include DeviceMaximum1024{
            grid-template-columns: 1fr;
            gap: 0;
        }
    }
    &__me{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 2rem;
        background: linear-gradient(45deg, transparent, $colorPrimary), transparent;
        display: grid;
        place-items: center;
        @include DeviceMaximum1024{
            width: 50%;
            margin: 2rem auto;
        }
        @include DeviceMaximum768{
            width: 65%;
            margin: 0 auto 3rem;
        }
    }
    &__me-image{
        border-radius: 2rem;
        overflow: hidden;
        transform: rotate(10deg);
        transition: $transition;
        &:hover{
            transform: none;
        }
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        @include DeviceMaximum768{
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }
    &__card{
        background: $colorPrimaryVariant;
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: 2rem 1rem;
        text-align: center;
        transition: $transition;
        h5{
            font-size: 1rem;
        }
        small{
            color: $colorText;
        }
        &:hover{
            background: transparent;
            border-color: $colorPrimaryVariant;
        }
    }
    &__icon{
        font-size: 1.6rem;
        color: $colorPrimary;
        margin-bottom: 1rem;
    }
    &__content p{
        margin: 2rem 0 2.6rem;
        color: $colorText;
        @include DeviceMaximum1024{
            margin: 1rem 0 1.5rem;
        }
        @include DeviceMaximum768{
            text-align: center;
        }
    }
}
