.contact{
    &__container{
        width: 68%;
        display: grid;
        grid-template-columns: 30% 58%;
        gap: 12%;
        @include DeviceMaximum1024{
            grid-template-columns: 1fr;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            input, textarea{
                width: 100%;
                border: 2px solid $colorPrimaryVariant;
                background: transparent;
                padding: 1.5rem;
                border-radius: 0.5rem;
                resize: none;
                color: $colorWhite;
                &::placeholder{
                    color: rgba($colorWhite, $alpha: 0.5);
                }
            }    
        }
    }
    &__options{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
    &__option{
        background: $colorPrimaryVariant;
        padding: 1.2rem;
        border-radius: 1.2rem;
        text-align: center;
        border: 1px solid transparent;
        transition: $transition;
        &:hover{
            background: transparent;
            border-color: $colorPrimaryVariant;
        }
        a{
            margin-top: 0.7rem;
            display: inline-block;
            font-size: 0.8rem;
        }
    }
    &__option-icon{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}