header{
    height: 100vh;
    overflow: hidden;
    background: url(./assets/header-background.jpg) right top no-repeat;
    background-size: cover;
    text-align: left;
    .header__container{
        height: 100%;
        position: relative;
        .row{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;
            span {
                font-size: 24px;
                font-weight: 200;
                color: #a5a5af;
            }
            h1{
                font-size: 80px;
text-transform: uppercase;
line-height: 1;
font-weight: bold;
            }
            h5.text-light{
                font-size: 40px;
text-transform: uppercase;
line-height: 1;
font-weight: bold;
            }
        }
    }
}
.cta{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
}


.me{
    background: linear-gradient($colorPrimary, transparent);
    width: 22rem;
    height: 30rem;
    margin-left: auto;
    @media screen and (max-width:371px) {
        width: 100%;
    }
}
