header{
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
    .header__container{
        height: 100%;
        position: relative;
        .row{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .col-6{
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: 15px;
                padding-right: 15px;
                span {
                    font-size: 24px;
                    font-weight: 200;
                    color: #a5a5af;
                }
                h1{
                    font-size: 80px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
                }
                h5.text-light{
                    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
                }
            }
        }
    }
}
.cta{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
}
.header__socials{
    position: absolute;
    left: 0;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    @include DeviceMaximum768{
        display: none;
    }
    &::after{
        content: "";
        height: 2rem;
        width: 1px;
        background:$colorPrimary;
    }
}

.me{
    background: linear-gradient($colorPrimary, transparent);
    width: 22rem;
    height: 30rem;
    margin-left: auto;
    @media screen and (max-width:371px) {
        width: 100%;
    }
}
a.scroll__down {
    position: absolute;
    right: 0;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    font-weight: 200;
    
    @include DeviceMaximum768{
        display: none;
    }
}