$colorBG:#1f1f38;
$colorBGVariant:#2c2c6c;
$colorPrimary:#4db5ff;
$colorPrimaryVariant: rgba(77, 181, 255, 0.4);
$colorWhite:#ffffff;
$colorLight:rgba(255, 255, 255, 0.6); 

$transition:all 400ms ease;

$containerWidthBig:75%;
$containerWidthMedium:86%;
$containerWidthSmall:90%;