@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1f1f38;
  color: #ffffff;
  line-height: 1.7;
  background-image: url(./assets/bg-texture.png);
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    width: 86%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

section {
  margin-top: 8rem;
}
@media (max-width: 1024px) {
  section {
    margin-top: 6rem;
  }
}
@media (max-width: 768px) {
  section {
    margin-top: 3rem;
  }
}

section > h2, section > h5 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

section > h2 {
  color: #4db5ff;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  section > h2 {
    margin-bottom: 2rem;
  }
}

.text-light {
  color: rgba(255, 255, 255, 0.6);
}

a {
  color: #4db5ff;
  transition: all 400ms ease;
}
a:hover {
  color: #ffffff;
}

.btn {
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: #4db5ff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4db5ff;
  transition: all 0.4s;
}
.btn:hover {
  background: #ffffff;
  color: #1f1f38;
  border: transparent;
}

.btn-primary {
  background: #4db5ff;
  color: #1f1f38;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
@media (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, #4db5ff), transparent;
  display: grid;
  place-items: center;
}
@media (max-width: 1024px) {
  .about__me {
    width: 50%;
    margin: 2rem auto;
  }
}
@media (max-width: 768px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }
}
.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: all 400ms ease;
}
.about__me-image:hover {
  transform: none;
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .about__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.about__card {
  background: rgba(77, 181, 255, 0.4);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem 1rem;
  text-align: center;
  transition: all 400ms ease;
}
.about__card h5 {
  font-size: 1rem;
}
.about__card small {
  color: rgba(255, 255, 255, 0.6);
}
.about__card:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.about__icon {
  font-size: 1.6rem;
  color: #4db5ff;
  margin-bottom: 1rem;
}
.about__content p {
  margin: 2rem 0 2.6rem;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1024px) {
  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}
@media (max-width: 768px) {
  .about__content p {
    text-align: center;
  }
}

.contact__container {
  width: 68%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
@media (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .contact__container {
    width: 90%;
  }
}
.contact__container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact__container form input, .contact__container form textarea {
  width: 100%;
  border: 2px solid rgba(77, 181, 255, 0.4);
  background: transparent;
  padding: 1.5rem;
  border-radius: 0.5rem;
  resize: none;
  color: #ffffff;
}
.contact__container form input::-moz-placeholder, .contact__container form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact__container form input::placeholder, .contact__container form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__option {
  background: rgba(77, 181, 255, 0.4);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.contact__option:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}
.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
}
.experience__container > div {
  background: rgba(77, 181, 255, 0.4);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
@media (max-width: 768px) {
  .experience__container > div {
    padding: 2.5rem 2rem;
  }
}
.experience__container > div:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.experience__container > div h3 {
  text-align: center;
  color: #4db5ff;
  margin-bottom: 2rem;
}
.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
@media (max-width: 768px) {
  .experience__content {
    row-gap: 0;
  }
}
.experience__details {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.experience__details-icon {
  color: #4db5ff;
  margin-top: 3rem;
}

header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
header .header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.header__socials {
  position: absolute;
  left: 0;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
@media (max-width: 768px) {
  .header__socials {
    display: none;
  }
}
.header__socials::after {
  content: "";
  height: 2rem;
  width: 1px;
  background: #4db5ff;
}

.me {
  background: linear-gradient(#4db5ff, transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  margin-top: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
@media screen and (max-width: 371px) {
  .me {
    width: 100%;
  }
}

a.scroll__down {
  position: absolute;
  right: 0;
  bottom: 5rem;
  transform: rotate(90deg);
  font-size: 0.9rem;
  font-weight: 200;
}
@media (max-width: 768px) {
  a.scroll__down {
    display: none;
  }
}

nav {
  background: rgba(0, 0, 0, 0.3);
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}
nav .active {
  background: #1f1f38;
  color: #ffffff;
}

.topHeader__row {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 10px 0;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
@media (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
  }
}
@media (max-width: 576px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.portfolio__item {
  background: rgba(77, 181, 255, 0.4);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.portfolio__item:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.portfolio__item h3 {
  margin: 1.3rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}
@media (max-width: 576px) {
  .portfolio__item-cta {
    justify-content: center;
  }
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr;
  }
}
.services__container .service {
  background: rgba(77, 181, 255, 0.4);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid #4db5ff;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 400ms ease;
}
.services__container .service:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.services__container .service__head {
  background: #4db5ff;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1);
}
.services__container .service__head h3 {
  text-align: center;
}
.services__container .service__list {
  padding: 2rem;
}
.services__container .service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.services__container .service__list li p {
  font-size: 0.9rem;
}
.services__container .service__list-icon {
  color: #4db5ff;
  margin-top: 3px;
}

.testimonials__container {
  width: 40%;
}
@media (max-width: 1024px) {
  .testimonials__container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .testimonials__container {
    width: 90%;
  }
}
.testimonials__container .testimonial {
  background: #2c2c6c;
  padding: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.testimonials__container .testimonial .client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 0.4rem solid rgba(77, 181, 255, 0.4);
}
.testimonials__container .avatar__review {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}/*# sourceMappingURL=index.css.map */